extends layout 
 
block content 
  h1= title 
 
  form(id='batmanForm', action="/resource/batmans", method="POST") 
    div.form-group 
        label.batmanAttr(for='batman_actor') batman actor 
        input#batman_actor(type='text', name='batman_actor') 
    div.form-group 
        label.batmanAttr(for='age') batman age 
        input#age(type='number', name='age') 
    div.form-group 
        label.batmanAttr(for='color') batman color 
        input#color(type='text', name='color') 
    input(type="submit") 
 
  script. 
    document.forms['batmanForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });